# GCC 14.2.0 on Debian 12.8 (1/1/2025)

-   Linux radix 6.1.0-28-amd64 #1 SMP PREEMPT_DYNAMIC Debian 6.1.119-1 (2024-11-22) x86_64 GNU/Linux
